<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= form_for @article do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title  %>

  <%= f.label :content  %>
  <%= f.text_field :content  %>

  <%= f.label :Submit  %>
  <%= f.submit  %>
<% end %>
